{% extends "layout.html" %}
{% block content %}

{% for product in products %}
<article class="media content-section">
  <div class="media-body">
    <h2><a class="article-title" href="#">{{ product.description }}</a></h2>
    <div class="article-content"></div>
    <p>Size: {{product.width}} x {{product.height}}, {{product.m2}}m2</p>
    <p>From: {{product.country}} </p>
    <p>Price: R${{product.price}}</p>
    <p>Quantity left: {{product.quantity}}</p>
  </div>
</article>
{% endfor %}
{% endblock content %}