{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
  <div class="media-body">
    <h2><a class="article-title" href="#">{{ product.title }}</a></h2>
    <div class="article-content"></div>
  <p>Written by {{product.author}}, published by {{product.editor}}. Year: {{product.year_published}}</p>
  <p>{{ product.summary }}</p>
  <p>R$ {{product.price}}</p>
  <p>{{product.quantity}} in stock</p>
  <p class="btn btn-primary">Buy</p>
  </div>
</article>
{% endblock content %}