{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
  <div class="media-body">
    <h2><a class="article-title" href="#">{{ product.title }}</a></h2>
    <div class="article-content"></div>
  <p>Written by {{product.author}}, published by {{product.editor}}. Year: {{product.year_published}}</p>
  <p>{{ product.summary }}</p>
  <p>R$ {{product.price}}</p>
  <p>{{product.quantity}} in stock</p>
  {% if current_user.is_authenticated and current_user.admin %}
  <a class="btn btn-primary" href="{{ url_for('update_product', product_title=product.title) }}">Edit</a>
  <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button> 
  {% endif %}
  </div>
</article>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete book?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="{{ url_for('delete_product', product_title=product.title) }}" method="POST">
          <input class="btn btn-danger" type="submit" value="Delete">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}